# Notebook to demonstrate how to adjust a cost or utility value in-code and applying to an existing population output
#### Brandon Chan August 2020

Useful "recipie" to run quick sensitivity analysis etc. Could also load in a separate excel sheet with modified cost and/or utility values and apply to a population array.

### Import packages

In [1]:
import sys
sys.path.insert(0,"../src")
from markov_modeling import *

import pandas as pd
import numpy as np

### Read in model specifications and existing population array

In [2]:
model_specification = ModelSpec('../model_specifications/test_parameters_base.xlsx', 
                                model_name='test_base')

pop_base = np.load('../model_outputs/test_base_20-07-2020_population.npy')

In [3]:
model_specification.cost_specs

       state    type  cost  cost_variance
0  treatment  static   350              0
1  remission  static     0              0
2      death  static     0              0

In [4]:
model_specification.util_specs

       state    type  utility  utility_variance
0  treatment  static     0.85                 0
1  remission  static     1.00                 0
2      death  static     0.00                 0

In [5]:
model_specification.simulation_parameters

                          1
0
max_iterations         1000
time_horizon              1
cycle_length             60
discount_rate         0.015
name_start_state  treatment

### Applying new costs and utilities to existing population arrays
Could be used for quick and dirty sensitivity analysis?

#### 2 Methods of doing this:
* 1) Read in a new spreadsheet with new defined costs and/or utilities
* 2) Modify the dataframes in-code to specify new values (recommended, as preserving the format and values of the original model helps bookkeep better)

In [6]:
# breakdown:
# dataframe.loc[row, column] = new_value
# in this example, the row is selected by a conditional. As such we want to select the row where the value of 'state' is equal to 'treatment'
# futher, we want to target the cost column.

model_specification.cost_specs.loc[model_specification.cost_specs.state == 'treatment', 'cost'] = 700
model_specification.cost_specs

       state    type  cost  cost_variance
0  treatment  static   700              0
1  remission  static     0              0
2      death  static     0              0

In [7]:
new_cost_base = calculate_costs(pop_base, model_specification)
new_cost_base[0,:,:]

array([[700.        , 252.92523445,  91.38739174,  33.02025355,
         11.93093624,   4.31090692],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ]])

#### Check that the recalculated costs are double the original (as intended)

In [8]:
cost_base = np.load('../model_outputs/test_base_20-07-2020_costs.npy')
cost_base[0,:,:]

array([[350.        , 126.46261722,  45.69369587,  16.51012677,
          5.96546812,   2.15545346],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ]])